@import '@/styles/shared/_shared.scss';

.button {
  @include button-reset;
  @include focus-ring;
  cursor: pointer;
  position: relative;

  --button-border-color: var(--button-default-border-color);
  --button-background-color: var(--button-default-background-color);
  --button-color: var(--button-default-color);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px solid var(--button-border-color);
  color: var(--button-color);
  background-color: var(--button-background-color);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  line-height: 0.75;
  text-transform: uppercase;

  padding: 0.75rem 1rem 0.875rem;
  border-radius: 2024px; // rounded

  &:not([disabled]) {
    &:hover,
    &:focus {
      --button-border-color: var(--button-interaction-border-color);
      --button-default-background-color: var(
        --button-interaction-background-color
      );
      --button-default-color: var(--button-interaction-color);
    }

    &:active {
      --button-border-color: var(--button-active-border-color);
      --button-default-background-color: var(--button-active-background-color);
      --button-default-color: var(--button-active-color);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    --button-border-color: var(--button-disabled-border-color);
    --button-background-color: var(--button-disabled-background-color);
    --button-color: var(--button-disabled-color);
  }
}
