@import '@/styles/shared/_shared.scss';

.card-list {
  width: 100%;
  flex-grow: 1;

  position: relative;
  z-index: 1;
  color: var(--card-list-color);
  background-color: var(--card-list-background-color);
  padding-block: 1rem;

  &:not(:first-child) .card-list-items {
    margin-top: -2rem;
    @include from(600px) {
      margin-top: -4rem;
    }
  }

  .card-list-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    padding-inline-start: 0;

    @include from(600px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4rem;
    }

    .card-list-item {
      display: flex;
      flex-direction: column;
      color: var(--card-list-card-color);
      background-color: var(--card-list-card-background-color);
      padding: 0 1rem 1rem;
      &:not(:has(img)) {
        padding-block-start: 1rem;
      }
      @include from(600px) {
        flex: 0 0 250px;
      }
      > div {
        &:has(img) {
          margin-top: -1rem;
          @include until(600px) {
            align-items: center;
          }
        }

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
