// initial
$raspberry: #ec2d70; // Slightly changed from #ec0e6e to have a proper contrast ratio against $cinder
$black: #000;
$white: #fff;

$nobel: #aab5b7;

$iceberg: #e2edee;
$cinder: #151515;

// derived
$body-text-color: $black;
$body-background-color: $white;
$brand-color: $raspberry;
$muted-color: $nobel;

$dark-text-color: $black;
$light-text-color: $white;

$dark-background-color: $cinder;
$light-background-color: $iceberg;
