:root {
  --card-list-color: #{$dark-text-color};
  --card-list-background-color: #{$light-background-color};
  --card-list-card-color: #{$dark-text-color};
  --card-list-card-background-color: #{$white};
}
